<h1>Api Design First Frontend!</h1>

<ng-container *ngIf="users$ | async as users">
  <h3>Get Users Example</h3>
  <ul *ngIf="users">
    <li *ngFor="let user of users" style="margin-top: 10px">
      id: {{ user.id }} name: {{ user.name }}
    </li>
  </ul>
</ng-container>

<div>
  <h3>Get User By Id Example</h3>
  <input type="text" required name="id" #id />
  <button type="button" (click)="findUser(id.value)">Find User</button>
  <ng-container *ngIf="user$ | async as user">
    <ul>
      <li>id: {{ user.id }} name: {{ user.name }}</li>
    </ul>
  </ng-container>
</div>
